David Golden <david@mongodb.com> <dagolden@cpan.org>
David Golden <david@mongodb.com> <xdg@xdg.me>
Eric Daniels <eric.daniels@mongodb.com> <eric@erdaniels.com>
Pat Gunn <pgunn@mongodb.com> <pgunn@dachte.org>
Stefan G. <minimalist@lavabit.com>
Stefan G. <minimalist@lavabit.com> <stefanguen@gmail.com>
